<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direcciones</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="center-title" onclick="window.location.href='/'">Inicio</div>
        <div class="profile-section">
            <div class="title">Administrador</div>
            <div class="profile-icon"></div>
        </div>
    </div>
    <br><br>
    <div class="sidebar">
        <div class="logo" onclick="window.location.href='/'"><i class="fa-sharp-duotone fa-solid fa-car-side"></i>Concesionaria Compitas</div>
        <div class="transacciones">
            <h3>Concesionaria</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fas fa-home"></i><span onclick="window.location.href='/api/direccion'">Concesionarias</span></li>
                <li class="menu-item"><i class="fa-solid fa-car"></i><span onclick="window.location.href='/api/vehiculo'">Vehiculos</span></li>
                <li class="menu-item"><i class="fa-solid fa-paint-roller"></i><span onclick="window.location.href='/api/colores'">Colores Vehiculares</span></li>
                <!--<span class="badge">10</span></li>-->
                <li class="menu-item"><i class="fa-solid fa-users"></i><span>Empleados</span></li>
            </ul>
        </div>
        <div class="transacciones">
            <h3>Transacciones</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fa-brands fa-sellsy"></i><span>Ventas</span></li>
                <li class="menu-item"><i class="fa-solid fa-money-bill"></i><span>Metodos de pago</span></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="card card-table">
            <h1>Direcciones</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ESTADO</th>
                        <th>ALC_MUN</th>
                        <th>COLONIA</th>
                        <th>CP</th>
                        <th>CALLE</th>
                        <th>NO_INT</th>
                        <th>NO_EXT</th>
                        <th class="no-border"></th>
                        <th class="no-border"></th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(row => { %>
                        <tr>
                            <td>
                                <%= row.ID %>
                            </td>
                            <td>
                                <%= row.ESTADO %>
                            </td>
                            <td>
                                <%= row.ALC_MUN %>
                            </td>
                            <td>
                                <%= row.COLONIA %>
                            </td>
                            <td>
                                <%= row.CP %>
                            </td>
                            <td>
                                <%= row.CALLE %>
                            </td>
                            <td>
                                <%= row.NO_INT %>
                            </td>
                            <td>
                                <%= row.NO_EXT %>
                            </td>
                            <td class="no-border" style="text-align: center;">
                                <button class="table-button" onclick="fetchAndFillEditForm('<%= row.ID %>')"><i class="fa-solid fa-pen-to-square"></i></button>
                            </td>
                            <td class="no-border" style="text-align: center;">
                                <form action="/api/direccion/<%= row.ID %>/delete" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="table-button"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <div class="form-container">
            <div class="card card-form">
                <h2>Agregar Dirección</h2>
                <form action="/api/direccion" method="POST">
                    <div class="form-group">
                        <label for="direccion_id">ID:</label>
                        <input type="text" id="direccion_id" name="direccion_id" placeholder="ID" required>
                    </div>
                    <div class="form-group">
                        <label for="estado_id">Estado ID:</label>
                        <input type="text" id="estado_id" name="estado_id" placeholder="Estado ID" required>
                    </div>
                    <div class="form-group">
                        <label for="alc_mun_id">Alcaldía/Municipio ID:</label>
                        <input type="text" id="alc_mun_id" name="alc_mun_id" placeholder="Alcaldía/Municipio ID" required>
                    </div>
                    <div class="form-group">
                        <label for="colonia">Colonia:</label>
                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" required>
                    </div>
                    <div class="form-group">
                        <label for="cp">Código Postal:</label>
                        <input type="text" id="cp" name="cp" placeholder="Código Postal" required>
                    </div>
                    <div class="form-group">
                        <label for="calle">Calle:</label>
                        <input type="text" id="calle" name="calle" placeholder="Calle" required>
                    </div>
                    <div class="form-group">
                        <label for="no_int">Número Interior:</label>
                        <input type="text" id="no_int" name="no_int" placeholder="Número Interior">
                    </div>
                    <div class="form-group">
                        <label for="no_ext">Número Exterior:</label>
                        <input type="text" id="no_ext" name="no_ext" placeholder="Número Exterior" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>

            <div class="card card-form">
                <h2>Editar Dirección</h2>
                <form id="editForm" action="/api/direccion/update" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="edit_direccion_id">ID:</label>
                        <input type="text" id="edit_direccion_id" name="direccion_id" placeholder="ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_estado_id">Estado ID:</label>
                        <input type="text" id="edit_estado_id" name="estado_id" placeholder="Estado ID" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_alc_mun_id">Alcaldía/Municipio ID:</label>
                        <input type="text" id="edit_alc_mun_id" name="alc_mun_id" placeholder="Alcaldía/Municipio ID" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_colonia">Colonia:</label>
                        <input type="text" id="edit_colonia" name="colonia" placeholder="Colonia" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_cp">Código Postal:</label>
                        <input type="text" id="edit_cp" name="cp" placeholder="Código Postal" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_calle">Calle:</label>
                        <input type="text" id="edit_calle" name="calle" placeholder="Calle" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_no_int">Número Interior:</label>
                        <input type="text" id="edit_no_int" name="no_int" placeholder="Número Interior">
                    </div>
                    <div class="form-group">
                        <label for="edit_no_ext">Número Exterior:</label>
                        <input type="text" id="edit_no_ext" name="no_ext" placeholder="Número Exterior" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function fetchAndFillEditForm(id) {
            fetch(`/api/direccion/${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('editForm').action = '/api/direccion/' + data.ID + '/update';
                    document.getElementById('edit_direccion_id').value = data.ID;
                    document.getElementById('edit_estado_id').value = data.ESTADO_ID;
                    document.getElementById('edit_alc_mun_id').value = data.ALC_MUN_ID;
                    document.getElementById('edit_colonia').value = data.COLONIA;
                    document.getElementById('edit_cp').value = data.CP;
                    document.getElementById('edit_calle').value = data.CALLE;
                    document.getElementById('edit_no_int').value = data.NO_INT;
                    document.getElementById('edit_no_ext').value = data.NO_EXT;
                })
                .catch(error => console.error('Error al obtener los datos:', error));
        }
    </script>
</body>

</html>