<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motores</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>



    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="center-title" onclick="window.location.href='/'">Inicio</div>
        <div class="profile-section">
            <div class="title">Administrador</div>
            <div class="profile-icon"></div>
        </div>
    </div>
    <br><br>
    <div class="sidebar">
        <div class="logo" onclick="window.location.href='/'"><i class="fa-sharp-duotone fa-solid fa-car-side"></i>Concesionaria Compitas</div>

        <div class="transacciones">
            <h3>Concesionaria</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fas fa-home"></i><span onclick="window.location.href='/api/direccion'">Concesionarias</span></li>
                <li class="menu-item"><i class="fa-solid fa-car"></i><span onclick="window.location.href='/api/vehiculo'">Vehiculos</span></li>
                <li class="menu-item"><i class="fa-solid fa-paint-roller"></i><span onclick="window.location.href='/api/colores'">Colores Vehiculares</span></li>
                <li class="menu-item"><i class="fa-solid fa-caravan"></i><span onclick="window.location.href='/api/marca'">Marcas</span></li>
                <li class="menu-item"><i class="fa-solid fa-car"></i><span onclick="window.location.href='/api/modelos'">Modelos</span></li>
                <li class="menu-item"><i class="fa-solid fa-oil-can"></i><span onclick="window.location.href='/api/motores'">Motores</span></li>
                <li class="menu-item"><i class="fa-duotone fa-solid fa-gear"></i><span onclick="window.location.href='/api/transmisionv2'">Transmisiones</span></li>
                <li class="menu-item"><i class="fa-solid fa-award"></i><span onclick="window.location.href='/api/garantia'">Garantías</span></li>
                <li class="menu-item"><i class="fa-solid fa-users"></i><span>Empleados</span></li>
                <li class="menu-item"><i class="fa-solid fa-address-card"></i><span onclick="window.location.href='/api/contacto_empleado'">Contacto empleados</span></li>
                <li class="menu-item"><i class="fa-solid fa-address-book"></i><span onclick="window.location.href='/api/cargos'">Jerarquia de empleados</span></li>
            </ul>
        </div>
        <div class="transacciones">
            <h3>Transacciones</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fa-brands fa-sellsy"></i><span>Ventas</span></li>
                <li class="menu-item"><i class="fa-solid fa-money-bill"></i><span onclick="window.location.href='/api/metodos'">Metodos de pago</span></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="card card-table">
            <h1>Motores disponibles</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TIPO</th>
                        <th class="no-border"></th>
                        <th class="no-border"></th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(row => { %>
                        <tr>
                            <td>
                                <%= row.ID %>
                            </td>
                            <td>
                                <%= row.TIPO %>
                            </td>

                            <td class="no-border" style="text-align: center;">
                                <button class="table-button" onclick="fillEditForm('<%= row.ID %>', '<%= row.TIPO %>')"><i class="fa-solid fa-pen-to-square"></i></button>
                            </td>
                            <td class="no-border" style="text-align: center;">
                                <form action="/api/motores/<%= row.ID %>/delete" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="table-button"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <div class="form-container">
            <div class="card card-form">
                <h2>Agregar Motor</h2>
                <form action="/api/motores" method="POST">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="number" id="id" name="id" placeholder="ID" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo">TIPO:</label>
                        <input type="text" id="tipo" name="tipo" placeholder="TIPO" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>

            <div class="card card-form">
                <h2>Editar Motor</h2>
                <form id="editForm" action="/api/motores/%/update" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="edit_id">ID:</label>
                        <input type="text" id="edit_id" name="id" placeholder="ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_tipo">TIPO:</label>
                        <input type="text" id="edit_tipo" name="tipo" placeholder="TIPO" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function fillEditForm(id, tipo) {
            document.getElementById('editForm').action = '/api/motores/' + id + '/update';
            document.getElementById('edit_id').value = id;
            document.getElementById('edit_tipo').value = tipo;
        }
    </script>
</body>

</html>